	/* MENU */

	.contenedor-menu {
		width:100%;
		margin:0 auto;
	}
	.contenedor-fila {
		width:80%;
		text-align:center;
		margin:0 auto;
	}

	/* BOTONES */
	
	.botonMenu {
			display:inline-block;
            text-align:center;
            text-decoration: none;
			font-family: Helvetica, sans-serif;
            color: #FFF;
            background: #7F8C8D;
            padding: 15px 30px;
            white-space: nowrap;
			
            border-radius: 5px;
            margin: 10px 5px;

	}		
	.botonMenu:hover{
		background: #92397d;
	}		
	

	/* FORMULARIO */

	.caja {
		border-radius: 5px;
		border:2px solid blue;
		background-color: #dddddd;
		padding:1%;
		width:98%;
		margin-bottom: 10px;
	}
	
	.caja-label {
		display:inline-block;
		width:150px;
		vertical-align:top;
	}
	.caja-input {
		display:inline-block; 
		width:calc(100% - 160px);
	}
	
	.formulario {
		width:80%;
		margin:0 auto;
		border:1px solid black;
		background-color:#2ECCFA;
	}
	
	.formulario-interno {
		width:96%;
		margin:10px auto;
    }
	
	input,
	textarea,
	select {
		background-color: white;
	}
	
	input:focus,
	textarea:focus,
	select:focus {
		background-color: #efcd99;
	}
	
	input[type=submit] {
		border-radius: 5px;
		border:2px solid blue;
		background-color: #dddddd;
		color:black;
		padding:5px 15px;
		font-size:18px;
	}
	input[type=submit]:hover {
		background-color: black;
		color:white;
		cursor:pointer;
	}
	
	.caja:hover {
		background-color: #aaaaaa;
	}

	
	
	/* TABLA-FORM */
	
	.tablaForm {
		width:80%;
		border: 1px solid black;
		border-collapse:collapse;
		margin: 10px auto 40px auto;
		font-size:30px;
	}
	.tablaForm th,
	.tablaForm td	{
		border: 1px solid black;
		padding: 5px 10px;
	}
	.tablaForm th {
		background-color:orange;
	}
	
	
